version: "3.8"

services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_DEBUG=1
      - FLASK_RUN_HOST=0.0.0.0
    volumes:
      - ./:/code
    depends_on:
      - redis
      
  redis:
    image: redis:alpine
